extends ../base
block content
  div.menu.none
    if user.type == "Teacher"
      ul.list-menu
        li(class="item-menu top-menu ")
          a(href="/teacher")
            div(class="icon-home icon-size")
            span.title-menu Inicio

        li(class="item-menu")
          a(href="/create/class")
            div(class="icon-pen icon-size")
            span.title-menu nueva clase

        li(class="item-menu")
          a(href="/signout")
            div(class="icon-exit icon-size")
            span.title-menu Cerrar sesión
    else
      ul(class="list-menu" style="margin-top:5em")
        li(class="item-menu")
          a(href="/signout")
            div(class="icon-exit icon-size")
            span.title-menu Cerrar sesión
  div(class="card title-lesson")
    h2 Clase de #{ lessons.nameClass }
    input(type="hidden" value="#{ lessons.subject._id }" id="materia")
    input(type="hidden" value="#{ lessons.teacher._id }" id="profesor")    
  section#webrtc
    article.containerVideoRemote
        div.LayoutRemoteProfesor
        div.LayoutRemoteEstudiante
    
  section(class="LayoutClass")
      section
        article.card-play
          h3.title-play
          div.cronometro
            span(id="minutos") 0
            span :
            span(id="segundos") 0
          div.botonTAI
            button#aic Grabar
            input(type="hidden", id="task")
          div.wrap-juego
        article#card__leccion
            button(id="closeLeccion")
              i.icon-cross
              span Cerrar
            h2.Leccion__title Lección de #{ lessons.nameClass }
            div.ActionsSendLeccion
                button(id="BotonEnviar-leccion")
                    i.icon-rocket
                    span Enviar Lección
            div(class="container__pregunta-leccion")
            div.actionsLeccionCard
                button#crear__pregunta
                    i.icon-pencil
                    span.create__pregunta-name Nueva Pregunta
        article#aic_listado
          button(id="close_note")
            i.icon-cross
            span Cerrar
          h3.list_type AIC
          ul(class="estud_califi")
            li.no-width Nombre
            li(class="no-width" style="margin-left:4em") Tiempo
            li(class="no-width" style="margin-right:3em") Nota
          div#content-listas
         article#deber_listado
          button#cerrar-deber 
            i.icon-cross
            span Cerrar
          h3 TAI
          ul(class="estud_califi")
            li Nombre
            li Imagen
            li Nota
          div#listado_est_tai
        input(type="hidden" value="#{ lessons.course._id }" id="curso")
        input(type="hidden" value="#{ lessons._id }" id="clase_id")
        input(type="hidden" value="#{ user.type }" id="type_user")
        div.btn-clas-active
            if user.type == "Teacher"
              div(class="btn-end")
                a(data-id="#{ lessons._id }" id="terminar-clase") Terminar la clase
              button.Opciones Opciones
      section(class="chat" id="chat")
  section(class="card__preguntas-create")
    article(class="type_question-container")
      select(class="question__lecccion")
        option(value="") Seleciona el tipo de pregunta..
        option(value="1") Completar
        option(value="2") De Seleccion Simple
        option(value="3") De Seleccion Multiple
      button(id="add__leccion") 
        i.icon-plus
        span Aceptar
    article(class="leccion__completar" style="display:none")
      div(class="form-group")
        input(type="text"  id="pregunta__completar" placeholder="Ingresa la pregunta")
        button(id="LeccionPregunta-completar-add") 
            i.icon-plus
            span Agregar
    article(class="leccion__simple" style="display:none")
      div(class="form-group")
        input(type="text" id="pregunta__simple" placeholder="Ingresa tu pregunta")
        button(id="LeccionPregunta-simple-add")
            i.icon-plus
            span Agregar
    article(class="leccion__compuesta" style="display:none")
      div(class="form-group")
        input(type="text" id="pregunta__compuesta" placeholder="Ingresa tu pregunta")
        button(id="LeccionBotonAdd-multiple")
            i.icon-plus
            span Agregar
      ul(id="lista__respuestas-compuesta")
      
  div(class="grupo__new-simples" style="display:none;")
    div(class="form-group")
        input(type="text" id="posibles_respues" placeholder="Ingresa las posibles respuestas")
        button(id="add__respuestas-simples")
            i.icon-plus
            span Agregar
  div(class="grupo__new-compuestas" style="display:none;")
    div(class="form-group")
        input(type="text" id="posibles__respuesta-compuesta" placeholder="Ingresa las posibles respuestas")
        button(id="add__respuestas-compuestas")
            i.icon-plus
            span Agregar
  section.LeccionPaper
    header.LeccionPaperHeader
      h3 Lección #{ lessons.nameClass }
      div.LeccionPaperHeader-alumno
        div
            input(type="hidden"  id="leccion_id")
            input(type="hidden" value="#{ user._id }" id="estudiante_id")
            label.name-last Nombre y Apellido
            input(type="text" value="#{ user.name }" class="input__leccion")
        div.none
            label.curso-parallel Curso y Paralelo
            input(type="text" value="#{ lessons.course.course } #{ lessons.course.parallel }" class="input__leccion")
    article.LeccionPapperBody
    button#TerminarLeccionBoton Terminar Leccion
  section#ListaEstudiantesLeccion
    header.ListaEstudiantesLeccionHeader
        h3 Lecciones de la clase #{ lessons.nameClass }
    article.ListaEstudiantesLeccionBody
        ul.ListaEstudiantesLeccionBody-list
    div.center-flex.flexbox
      button.ListaEstudiantesLeccion-cerrar Cerrar
  section.LeccionCalificar
    header.LeccionCalificarHeader
      h2.LeccionCalificarHeader-title Leccion de #{ lessons.nameClass } 
      div.name
        label Nombre
        input(type="text" id="LeccionCalificarHeader-alumno" class="input__leccion" disabled="true")
        input(type="hidden" class="id_estudiante_leccion")
      div.nota
        label Nota
        input(type="text" id="LeccionCalificarHeader-nota" class="input__leccion")
        input(type="text" placeholder="Ejem: Felicitacionez" class="leccion_recomendacion" class="input__leccion")
    article.LeccionCalificarBody
    div.actions.center-flex.flexbox
        button(id="action-calificar" data-id="") Calificar
        button#action-cerrar Cerrar
  article.card--opciones
    header.HeaderOpciones
        ul.HeaderOpciones-menu
            li(class="HeaderOpciones-menu__item" id="OpcionesActividades") Actividades
            li(class="HeaderOpciones-menu__item" id="OpcionesDeberes") Deberes
            li(class="HeaderOpciones-menu__item" id="OpcionesLecciones") Lecciones
    article.BodyOpciones
        div(class="ActividadesOpcion active-opcion")
            button(class="ahorcado")
              p ahorcado
            button(class="tretis")
              p tetris
            button(class="pizarra")
              p pizarra
            button(class="buscamina")
              p buscamina
        div.DeberesOpcion
            button(class="calificar-aic") 
              p AIC
            button(class="tai-cal") 
              p ENVIAR TAI
            button(class="tai-ver") 
              p TAI
            button(class="agc-ver")
              p AGC
        div.LeccionesOpcion
            button(class="new-leccion")
              p Crear leccion
            button(class="see_leccion")
              p Ver leccion
    div.Opciones-actions
        button(class="cerrar-opciones") Cerrar
  div.poppu-message
    p Debe ingresar minimo 3 opciones
  artile.card_tarea.none
    h3.card_tarea_title Ingrese la tarea que se le enviara al estudiante
    textarea.card_tarea_input(placeholder="Ejemp: Realizar un resumen de la clase en word")
    button.card_tarea_button Enviar Trabajo
  if user.type == "Student"
    input.deber_enviado(value="#{ nota.deber }", type="hidden")
  article.card_deber_card.none
    p.card_deber_card_name
    button.card_deber_card_button Subir tarea
  article.card_upload_task.none
    h2.card_upload_task_title Sube tu tarea.
    div.card_upload_task_form
        input(type="file" id="task_form_file").none
        label.task_form_label(for="task_form_file")
            i.icon-cloud-upload
            span Ingresa la tarea
    button.card_upload_task_button Enviar tarea
  article#PizarraLayout.none
    div.BotonAgc
        button#agc.none Grabar
    div.PizarraLayoutCanvas
        canvas#PizarraCanvas(width="895", height="540")
        #cursors
