<div class="item" id="item-question">
<input type="hidden", value="{{ question._id }}" class="ids_preguntas">
  <div class="top-details">
    <div class="user">
      <span class="avatar-discussion">
        <img src="{{ question.avatar }}" alt="{{ question.name }}" height="20" width="20">
      </span>
      <a class="author-discussion">{{question.name }}</a>
    </div>
    <span class="date none">{{ question.date }}</span>
  </div>
  <div class="discussion-text">
    <p class="btn-q" data-id="{{ question._id }}">{{ question.question }}</p>
  </div>
  <div class="bottom-details">
    <div class="action">
      <a class="icon-smile2 like none">0</a>
      <a class="icon-crying2 no-like none">0</a>
      <a class="count_repuesta">
        <span data-id="{{ question._id }}">{{ count }}</span>
        Respuestas
      </a>
      <a class="responder-pregunta" data-id="{{ question._id }}">Responder</a>
    </div>
  </div>
</div>

